<div class="row">
  <div class="col s12">
    <div class="page-title">Add Message Headers</div>
  </div>

  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
              <li class="tab col s3"><a href="#test1" class="">Add Custom
                  Message Titles</a></li>
            </ul>
          </div>

          <div id="test1" class="col s12">
            <div class="row"></div>

            <form method="post" id="form_data1">

              {{! <div class="row"></div>
              <div class="row">
                <div class="col s4">
                  <label>Select Message Type</label>
                  <select
                    class="browser-default"
                    name="mttype"
                    id="selectMsgType"
                  >
                    <option value="" disabled="" selected="">Message Type</option>
                    <option value="103">MT 103</option>
                    <option value="102">MT 102</option>
                    <option value="950">MT 950</option>
                  </select>
                </div>

                <div class="col s1">
                  <label>Version</label>
                  <input
                    placeholder="Version"
                    id="version"
                    type="number"
                    class="validate"
                    name="version"
                  />
                </div>

                <div class="col s1">
                  <div class="switch m-b-md">
                    <label>
                      Set Default
                      <input type="checkbox" name="isdefault" />
                      <span class="lever"></span>
                    </label>
                  </div>

                </div>
              </div> }}
              {{!-- <div class="row"></div> --}}
              {{!-- <div class="row"></div> --}}
              <div class="row">
                <div class="col s6">
                  <h5 style="margin-bottom: 10px; text-align:center; text-decoration:underline">Set custom Title</h5>
                  <div id="header_form" style="height: 380px; overflow-y:scroll">
                    {{#each msgKey}}
                      <div style="margin-top: -50px;" class="row" id={{index}}>
                        <div class=" col s5">
                          <input name="array[]" type="text" class="validate" placeholder="Title" required />

                        </div>
                        <div class=" col s5">
                          <input name="array[]" value={{key}} type="text" class="validate" placeholder="Data"
                            required />

                        </div>

                        <div class="col s1 ">
                          <br />
                          <a href="#" onclick="remove_field(this)" id={{index}} class="waves-effect   red "
                            style="display: flex; align-items: center; justify-content:center; border-radius: 50%;">
                            <i class="material-icons " style="color: white;">remove</i>
                          </a>
                        </div>
                      </div>
                    {{/each}}
                  </div>


                  <div style="display: flex; align-items:center; justify-content:center; margin-left: -100px; margin-top: 5px" class="row controls">
                    <a href="#" onclick="add_more_field()" class="waves-effect waves-light   m-b-xs"
                      style="display: flex; align-items: center; justify-content:center; border-radius: 50%; background: #F4B104; color: white; padding:5px">
                      <i class="material-icons " style="color: white; font-size: 20px">add</i>
                    </a>

                  </div>

                  <div style="display: flex; align-items:center; justify-content:center; margin-left: -100px; " class="row controls">
                    <button style="margin-top: -10px" class="waves-effect waves-light btn" type="button" name="button" id="add_header">Save
              Details</button>
                  </div>
                </div>

                <div class="col s5 ml-10" style="margin-left: 50px;">
                  <h5 style="text-align: center; text-decoration:underline">{{mtype}} DATA</h5>
                  <div style="height: 380px;  overflow-y: scroll; ">
                      <textarea id="textarea1" class="materialize-textarea  " length="200" style=" font-size:14px; font-weight: normal;"
                    >{{jsondata}}</textarea>
                  </div>
                  
                </div>
                <input type="hidden" id="messagetype" name="messagetype" value={{mtype}} />
              </div>
          </div>
          {{!-- <div class="row" >
            <div class="col s5"></div>
            <button style="margin-top: -50px;" class="waves-effect waves-light btn" type="button" name="button" id="add_header">Save
              Details</button>
          </div> --}}

          </form>
        </div>

      </div>

    </div>

  </div>
</div>
</div>