<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Title -->
    <title>{{> title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="description" content="Responsive Admin Dashboard Template" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="author" content="Steelcoders" />

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href="./plugins/materialize/css/materialize.min.css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./plugins/metrojs/MetroJs.min.css" rel="stylesheet">
    <link href="./plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet">
    <link href="./plugins/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="./plugins/google-code-prettify/prettify.css" rel="stylesheet" type="text/css"/>    
    <link href="./plugins/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>  


    <!-- Theme Styles -->
    <link href="./css/alpha.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/custom.css" rel="stylesheet" type="text/css" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>

<script type="text/javascript">
  // make sure to use triple brackets
  //var quiz = {{{tableData}}};
   //var quiz_jj = {{{data}}};


</script>

    {{> loader}}


    <div class="mn-content fixed-sidebar">
        {{> header}}
        {{> sidebar}}

        <main class="mn-inner">   
            

            <div class="card card-transparent no-m">
                <div class="card-content invoice-relative-content search-results-container">
                    <div class="col s12 m12 l12">
                                <div class="search-page-results">
                                    <div id="web" class="col s12 m12 l12">
                                        <div class="row">
                                            <div class="col s12 m12 l12">
                                                <div class="card">
                                                    <div class="card-content">
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera - Wikipedia, the free encyclopedia</a>
                                                    <a href="#" class="search-result-link">https://en.wikipedia.org</a>
                                                    <p class="search-result-description">Pantera was an American heavy metal band from Arlington, Texas. The group was formed in 1981 by the Abbott brothers – drummer Vinnie Paul and guitarist ...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera</a>
                                                    <a href="#" class="search-result-link">pantera.com</a>
                                                    <p class="search-result-description">HISTORY OF HOSTILITY, a nine-track Pantera primer that includes some of Pantera's most legendary tracks from all five studio albums is available here ...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera - Facebook</a>
                                                    <a href="#" class="search-result-link">https://www.facebook.com</a>
                                                    <p class="search-result-description">Pantera. 8922172 likes · 116335 talking about this. http://www.pantera.com http://smarturl.it/panterastore http://www.twitter.com/pantera...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera — Free listening, videos, concerts, stats and ...</a>
                                                    <a href="#" class="search-result-link">www.last.fm</a>
                                                    <p class="search-result-description">Watch videos &amp; listen free to Pantera: Cowboys from Hell, Walk &amp; more. Pantera was an extremely popular metal band from Arlington, Texas, formed in 1981.</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera | New Music And Songs | - MTV.com</a>
                                                    <a href="#" class="search-result-link">www.mtv.com</a>
                                                    <p class="search-result-description">29 items - Pantera new music, concerts, photos, and official news updates directly from Pantera's Twitter and Facebook.</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera News - Loudwire</a>
                                                    <a href="#" class="search-result-link">loudwire.com/tags</a>
                                                    <p class="search-result-description">Pantera was arguably the most important heavy metal band of the 1990s — becoming a major commercial force in spite of a hostile alternative rock climate that ...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">'Mayhem' Festival Producer Says He Has Approached ...</a>
                                                    <a href="#" class="search-result-link">www.blabbermouth.net</a>
                                                    <p class="search-result-description">Late PANTERA guitarist "Dimebag" Darrell Abbott's longtime girlfriend Rita Haney in 2011 called on ex-PANTERA drummer Vinnie Paul Abbott ...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">Pantera | Biography, Albums, &amp; Streaming Radio | AllMusic</a>
                                                    <a href="#" class="search-result-link">www.allmusic.com</a>
                                                    <p class="search-result-description">Find Pantera bio, music, credits, awards, &amp; streaming radio on AllMusic - One of the best metal bands of the '90s due to...</p>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="search-result">
                                                    <a href="#" class="search-result-title">pantera - YouTube</a>
                                                    <a href="#" class="search-result-link">https://www.youtube.com</a>
                                                    <p class="search-result-description">2008 WMG I'm Broken (Video) - - - - Far Beyond Driven 2CD 20th Anniversary Edition Coming March 25th! 2CD Deluxe: http://smarturl.it/panterafbd - - - -</p>
                                                </div>
                                                
                                                <div class="divider"></div>
                                                <ul class="pagination">
                                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                                    <li class="active"><a href="#!">1</a></li>
                                                    <li class="waves-effect"><a href="#!">2</a></li>
                                                    <li class="waves-effect"><a href="#!">3</a></li>
                                                    <li class="waves-effect"><a href="#!">4</a></li>
                                                    <li class="waves-effect"><a href="#!">5</a></li>
                                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                                </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                        </div>
                    </div>
                </div>
            </div>
 </main>


<!-- Modal Trigger   visibility   -->

{{#each tabledata}}
<!-- Modal Structure -->
<div id="dialog{{@key}}" class="modal modal-fixed-footer">
    <form name="{{@key}}" id="{{@key}}" action="javascript:void(0);" >
    <div class="modal-content">
        <h4 class="center-align">RECORD: {{this.AccountName}}</h4>
        
        

            <div class="row">

                <div class="row"></div>

                <div class="col s12 m12 l4">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_name" name="account_name" type="text" class="validate" value="{{this.AccountName}}">
                            <label for="account_name">Account Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_email" name="account_email" type="email" class="validate" value="{{this.AccountEmail}}">
                            <label for="account_email">Account Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_tel" name="account_tel" type="text" class="validate" value="{{this.AccountTelephone}}"> 
                            <label for="account_tel">Account Telephone</label>
                        </div>
                    </div>

                </div>
                <div class="col s12 m12 l4">

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="account_number" name="account_number" type="number" class="validate" value="{{this.AccountNumber}}">
                            <label for="account_number">Account Number</label>
                        </div>
                    </div>
    <div class="row">
        <div class="input-field col s12">
            <select name="account_mtdata" id="account_mtdata">
                <option value="" disabled selected>Select Message Type</option>
               
               {{#each ../mtdata}}
                <option value="{{this.val}}" {{isSelected ../MT this.val}} >{{this.name}}</option>
                {{/each}}
            </select>
            <label>Select Message Type</label>
        </div>

    </div>
                    

    <div class="row">
        <div class="input-field col s12">
            <select name="account_msgflow">
                {{#each ../msgflow}}
                    <option value="{{this.val}}" {{isSelected ../MsgDir this.val}}>{{this.name}}</option>
                {{/each}}
            </select>
            <label>Select Message Direction</label>
        </div>

    </div>

                </div>
            
                <div class="col s12 m12 l4">

                   
    <div class="row">
        <div class="input-field col s12">
            <select name="account_alert_temp">
                <option value="" disabled selected>Select Message Template</option>
                {{#each ../alerttemps}}
                    <option value="{{this.val}}" {{isSelected ../MsgTemp this.val}}>{{this.name}}</option>
                {{/each}}
            </select>
            <label>Select Message Template</label>
        </div>

    </div>
                    

    <div class="row">
        <div class="input-field col s12">
            <select name="account_alertgroups">
                <option value="" disabled selected>Select Internal Alert Group</option>
                {{#each ../alertgroups}}
                    <option value="{{this.val}}" {{isSelected ../AlertGroup this.val}}>{{this.name}}</option>
                {{/each}}
            </select>
            <label>Select Internal Alert Group</label>
        </div>

    </div>

    
    <div class="row">
        <div class="input-field col s12">
            <select name="account_alerttypes">
                <option value="" disabled selected>Select Alert Type</option>
                {{#each ../alerttypes}}
                    <option value="{{this.val}}" {{isSelected ../Alert this.val}}>{{this.name}}</option>
                {{/each}}
            </select>
            <label>Select Alert Type</label>
        </div>

    </div>

                </div>
            
            </div>
        

    </div>


    <div class="modal-footer">
        <div class="col s5"></div> <a class="modal-action waves-effect waves-green btn-flat" onclick="updateRecord('{{@key}}');">Update</a>
        <div class="col s5"></div> <a class="modal-action modal-close waves-effect waves-green btn-flat" id="{{@key}}close">Cancel</a>
        <!--<div class="col s5"></div> <input type="submit" class="btn-flat" onclick="" value="Update Record"> -->
    </div>
    </form>
</div>
{{/each}}


        </main>

        {{> footer}}
    </div>




    <!-- Javascripts -->

    <script src="./plugins/sweetalert/sweetalert.min.js"></script>
    <script src="./js/pages/miscellaneous-sweetalert.js"></script>

    <script src="./plugins/jquery/jquery-2.2.0.min.js"></script>
    <script src="./plugins/materialize/js/materialize.min.js"></script>
    <script src="./plugins/material-preloader/js/materialPreloader.min.js"></script>
    <script src="./plugins/jquery-blockui/jquery.blockui.js"></script>
    <script src="./plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="./js/alpha.min.js"></script>


    <script src="./js/pages/table-data.js"></script>


    
    
</body>

</html>
<script type="text/javascript">

function updateRecord(myform)
{
    var y = document.forms.namedItem(myform);
    var myForm = $('form#'+myform);

    $.post('/updateprofile', myForm.serialize(), function(resp) {

                if(resp.processed)
                {
                    var x = document.forms.namedItem(myform);
                    x.elements.account_name.value = resp.account_name;
                    document.getElementById(myform+"tr").cells[x.elements.account_name.id].innerHTML=resp.account_name;
                    x.elements.account_email.value = resp.account_email;
                    document.getElementById(myform+"tr").cells[x.elements.account_email.id].innerHTML=resp.account_email;
                    x.elements.account_tel.value = resp.account_tel;
                    document.getElementById(myform+"tr").cells[x.elements.account_tel.id].innerHTML=resp.account_tel;
                    x.elements.account_number.value = resp.account_number;
                    document.getElementById(myform+"tr").cells[x.elements.account_number.id].innerHTML=resp.account_number;
                    //x.elements.account_mtdata.value = resp.account_mtdata;
                    //document.getElementById("{{@key}}tr").cells[x.elements.account_mtdata.id].innerHTML=  x.elements.account_mtdata.value.innerHTML;  
                    
                    Materialize.toast('Record Updated Successfully!', 5000);
                    swal("Updated", "Record Updated Successfully!", "success");

                }
                else{
                    Materialize.toast('Error!!! Record no updated.', 5000);
                    swal("Error", "Error Updating Record", "error");

                }

            });
            $('#'+myform+'close').click();
            $('#'+myform+'close').trigger("click");

    //$('#dialog'+myform).removeClass('open');
    //$('#dialog'+myform).css('display', 'none');
    //$('#dialog'+myform).css('opacity', '0');
    //$('#dialog'+myform).css('transform', 'scaleX(0.7)');
    //$("body").removeAttr("style");
    //$('.lean-overlay').remove();
}


/*
{{#each tabledata}}



 
$(function() {
        $('#{{@key}}').submit(function(event) {
            event.preventDefault(); // Stops browser from navigating away from page
            //alert('updating....');
            //var data;
            // build a json object or do something with the form, store in data
            $.post('/updateprofile', $(this).serialize(), function(resp) {
                //alert(resp.account_name);
                //alert($('#{{@key}}').account_name.value);
                // do something when it was successful
                
                var x = document.forms.namedItem("{{@key}}");

                //x.elements.foreach((element) => {
                  //                     } )
               x.elements.account_name.value = resp.account_name;
               document.getElementById("{{@key}}tr").cells[x.elements.account_name.id].innerHTML=resp.account_name;
               x.elements.account_email.value = resp.account_email;
               document.getElementById("{{@key}}tr").cells[x.elements.account_email.id].innerHTML=resp.account_email;
               x.elements.account_tel.value = resp.account_tel;
               document.getElementById("{{@key}}tr").cells[x.elements.account_tel.id].innerHTML=resp.account_tel;
               x.elements.account_number.value = resp.account_number;
               document.getElementById("{{@key}}tr").cells[x.elements.account_number.id].innerHTML=resp.account_number;
               x.elements.account_mtdata.value = resp.account_mtdata;
               document.getElementById("{{@key}}tr").cells[x.elements.account_mtdata.id].innerHTML=  x.elements.account_mtdata.value.innerHTML;
               
               


            });
        });
    });

    {{/each}}

    */

    </script>
