<div class="row">
  <div class="col s12">
    <div class="page-title">USER-MENU SETTINGS</div>
  </div>
  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
        <div class="col s12">
          <ul class="tabs tab-demo z-depth-1" style="width: 100%;">
            <li class="tab col s3"><a href="#test1" class="">Menu List</a></li>
          </ul>
        </div>
        <form>

          <div class="row">

            <div class="col s12 m12 l4">

              <div class="row"></div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    style="margin-top: 2px;"
                    value={{user}}
                    id="user"
                    type="text"
                    class="validate"
                    disabled
                    name="user"
                    placeholder="Enter Print Path"
                  />
                  <label for="user">Username</label>
                </div>
              </div>

            </div>

            <div class="col s12 m12 l4">

              <div class="row"></div>
              <div class="row">
                <div class="input-field col m12">

                  <select id="menu_id" class="required validate">
                    <option value="" disabled selected>Choose a menu</option>
                    {{#each list1}}
                      <option value={{id}}>{{title}}
                      </option>
                    {{/each}}
                  </select>
                </div>
              </div>

              <input
                type="hidden"
                id="user_id"
                name="user_id"
                value={{userID}}
              />

            </div>

            <div class="col m3 s12 center-align">
              <div class="row"></div>
              <div class="row"></div>
              <button
                class="waves-effect waves-light btn"
                type="button"
                id="create_user_submenu"
              >Create User Menu</button>
              {{! <img
                src="../../images/folder.jpg"
                class="m-b-lg"
                alt=""
                width="90%"
              />
              <p class="grey-text center-align">-</p> }}

            </div>

          </div>

          {{!-- <div class="row">
            {{! <div class="col s5"></div> }}
            <button
              class="waves-effect waves-light btn"
              type="button"
              name="add_path"
              id="add_path"
            >Save Settings</button>
          </div> --}}

        </form>
        {{! <div class="row"></div> }}
        <div style="width:100%;font-size:12px; overflow-x:scroll;">
        <table id="example" class="display responsive-table datatable-example">
          <thead>
            <tr>
              <th>Action</th>
              <th>Id</th>
              <th>Menu Title</th>
              <th>Status</th>
              <th>Access</th>
            </tr>
          </thead>
          {{! <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Office</th>
              <th>Age</th>
              <th>Start date</th>
              <th>Salary</th>
            </tr>
          </tfoot> }}
          <tbody>
            {{#each list}}
              <tr>
                <td>
                  {{!-- <form> --}}
                    {{!-- <input
                      type="text"
                      id="usermenu_id"
                      name="usermenu_id"
                      value={{usermenuid}}
                    /> --}}
                    <button
                      style="outline: none; border: none; display:flex; align-items: center; justify-content:center; "
                      id="delete" onClick="delete_click({{usermenuid}})" type="button"
                    >
                      <i
                        style="color: #c91414;"
                        class="material-icons"
                      >delete</i>
                    </button>
                  {{!-- </form> --}}
                    
                  </a>
                  
                  </td>
                <td>{{menuid}}</td>
                <td>{{title}}</td>
                {{#if usermenustatus}}
                  <td>
                    <div style="display: flex; align-items: center; width: 60%; justify-content: space-between;">
                      Active
                    <button
                      style="outline: none; border: none; display:flex; align-items: center; justify-content:center; "
                      id="delete" onClick="update_useemenu_statusactive({{usermenuid}})" type="button"
                    >
                      <i
                        style="color: #26A69A;"
                        class="material-icons"
                      >edit</i>
                    </button>
                    </div>
                  </td>

                {{else}}
                  <td>
                    <div style="display: flex; align-items: center; width: 60%; justify-content: space-between;">
                      Inactive 
                    <button
                      style="outline: none; border: none; display:flex; align-items: center; justify-content:center; "
                      id="delete" onClick="update_useemenu_statusinactive({{usermenuid}})" type="button"
                    >
                      <i
                        style="color: #26A69A;"
                        class="material-icons"
                      >edit</i>
                    </button>
                    </div>
                  </td>
                {{/if}}

                {{#if accessType}}
                  <td style="display: flex; align-items: center; width: 100%; justify-content: space-between;">Active <button
                      style="outline: none; border: none; display:flex; align-items: center; justify-content:center; "
                      id="delete" onClick="update_useemenu_accessactive({{usermenuid}})" type="button"
                    >
                      <i
                        style="color: #26A69A;"
                        class="material-icons"
                      >edit</i>
                    </button></td>

                {{else}}
                  <td style="display: flex; align-items: center; width: 100%; justify-content: space-between;">Inactive <button
                      style="outline: none; border: none; display:flex; align-items: center; justify-content:center; "
                      id="delete" onClick="update_useemenu_accessinactive({{usermenuid}})" type="button"
                    >
                      <i
                        style="color: #26A69A;"
                        class="material-icons"
                      >edit</i>
                    </button></td>
                {{/if}}

              </tr>
            {{/each}}
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>